<a href="https://colab.research.google.com/github/toro531/Mi-primer-repositorio/blob/main/python_introduction14400.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mis primeros pasos con python
### Fundamentos de programacion
**Nombre:** Edwrad Sanchez

*Fecha de creacion:*  21 agosto 2024

**Email:**  eduar23sr@gmail.com

In [ ]:
# Mis primeros pasos en python

In [ ]:
print("Me llamo Edward")

Me llamo Edward

In [8]:
name="Edward"
Age=21
print("mi nombre es" , name , "y mi edad es", Age)

mi nombre es Edward y mi edad es 21

In [9]:
a=10
b=5
print(a+b) # Suma
print(a-b) # resta
print(a*b) # multiplicacion
print(a/b) # division
print(a%b) # modulo
print(a**b)# exponente
print(a//b)# division entera

15
5
50
2.0
0
100000
2

In [10]:
# Cambio de numeros

salchipapa = 20000
Bebida = 2000
Total = salchipapa + Bebida
print(Total)

22000

In [25]:
# Concatenacion
name = "Edward"
lastname = "Sanchez"
Fullname = name + " " + lastname
print("_" * 20)

print(Fullname * 5)

print("_" * 20)

____________________
Edward SanchezEdward SanchezEdward SanchezEdward SanchezEdward Sanchez
____________________

In [27]:
# Incrementos
a = 10
b = 5
a += b
print(a)
a -= b
print(a)
a *= b
print(a)
a /= b
print(a)
a %= b
print(a)
a **= b
print(a)

15
10
50
10.0
0.0
0.0

In [28]:
# Multi line string
song = """un elefante se balanceaba
sobre la tela de una araña
como veia que resistia
fue a buscar otro elefante"""
print(song)

un elefante se balanceaba
sobre la tela de una araña
como veia que resistia
fue a buscar otro elefante

In [33]:
# Entrada de usuario
name = input("Cual es tu nombre: ")
print("Hola mi Estimado", name)

Cual es tu nombre: Edward
Hola mi Estimado Edward